/*-----{Properties}-----*/

@property --Bright_Froffy_Green
{
    syntax: "<color>";
    inherits: false;
    initail-value: #a0ffa0;
}

@property --Candy_Emerald_Green
{
    syntax: "<color>";
    inherits: false;
    initial-value: #00c81e;
}

@property --Dark_Bog_Green
{
    syntax: "<color>";
    inherits: false;
    initail-value: #007d14;
}

@property --gradient-direction 
{
    syntax: '<angle> | <custom-ident>';
    inherits: false;
    initial-value: to top;
}


/*-----{Tags}-----*/


h1
{
    font-family: 'Frutiger';
    font-size: 30px;
    text-align: center;

    margin: 0%;
    
}

h2
{
    font-family: 'Frutiger';
    font-size: 25px;
    text-align: center;

    margin: 0%;

}

p
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}

html
{
    background-color: darkgray;
    
    background-image: url(../Images/Background/Frutiger_Background.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    scrollbar-gutter: stable;
}

header
{
    background: linear-gradient(to top, #00c81e 0%, #646464 25%);

    height: 200px;
    width: 100%;

    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;

    z-index: 1;
}

footer
{
    background: linear-gradient(to Bottom, #00c81e 0%, #646464 75%);

    height: 100px;
    width: 100%;

    border-top-left-radius: 100px;
    border-top-right-radius: 100px;

    z-index: 1;
}

li
{
    list-style: none;
}

a
{
    text-decoration: none;
}

/*-----{Classes}-----*/

.WhiteText{color: white;}

.Glass
{
    background: linear-gradient(to left, rgba(0,125,20, 0.5) 0%, transparent 10%, transparent 90%, rgba(0,125,20, 0.5) 100%);

    width: 60%;

    backdrop-filter: blur(5px);
    
    box-shadow: 0px 0px 10px 15px rgba(0, 0, 0, 0.5);
}

.Content_Block
{
    background-color: rgba(255, 255, 255, 0.5);

    margin: 25px;

    border-radius: 25px;
    
    border: 2.5px, solid, rgb(190, 190, 190);
    
}

.Aero_Button
{
    color: white;

    background: linear-gradient(to top, #007d14 0%, #a0ffa0 80%);
    
    padding: 2.5%;

    border-radius: 25px;

    border: 2.5px, solid, rgba(50, 150, 50, 1);


}

.Banner
{
    background: linear-gradient(to top, #007d14 0%, #a0ffa0 80%);

    height: 50px;

    width: 100%;
}

/*-----{I_Cards Attributes}-----*/

.I_Card_Main
{
    background-color: transparent;

    width: 80%;
    height: 80em;

    margin: auto;
}

.I_Card_Top
{
    background-color: lightgrey;

    height: 5%;

    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

.I_Card_Center
{
    background-color: lightgrey;

    height: 25%;
}

.I_Card_Content
{
    background-color: grey;

    height: 90%;
    width: 90%;

    border-radius: 50px;

    display: grid;

    grid-template-areas: 
    "A A A"
    "A A A"
    "B B B";
}

.Text_Content
{
    background-color: rgba(255, 255, 255, 0.8);
    

    padding: 25px;
    margin: 25px;

    border-radius: 25px;

    overflow: auto;

    
}

.I_Card_Bottom
{
    background-color: lightgrey;

    height: 5%;
    
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

/*-----{Others}-----*/

.VerticalPadding
{
    padding-top: 25px;
    gap: 10px;
    padding-bottom: 25px;
}
