/*-----{Fonts}-----*/



@font-face 
{
    font-family: 'Frutiger';
    src: url(Libraries/Frutiger/Frutiger.ttf);
}

@font-face {
    font-family: 'Neuropol';
    src: url(/Libraries/Neuropol/Neuropol.otf);
}



/*-----{Properties}-----*/



@property --Watery_Blue
{
    syntax: "<color>";
    inherits: false;
    initail-value: #1919ff;
}

@property --Green_Earth
{
    syntax: "<color>";
    inherits: false;
    initial-value: #00c81e;
}

@property --Red_Fire
{
    syntax: "<color>";
    inherits: false;
    initial-value: #e60000;
}

@property --Airy_Orange 
{
    syntax: "<color>";
    inherits: false;
    initial-value: #ff8c00;
}



/*-----{Tags}-----*/



header
{
    background-color: white;

    height: 100px;
    width: 100%;

    

    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

body
{
    background-color: grey;
    margin: 0%;
}

footer
{
    background-color: white;

    height: 100px;
    width: 100%;

    

    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

h1
{
    font-family: 'Neuropol', sans-serif;

    font-size: 35px;

    margin: 0%;
}

h2
{
    font-family: 'Frutiger', sans-serif;

    font-size: 20px;

    margin: 0%;
}

h3
{
    font-family: 'Frutiger', sans-serif;

    font-size: 10px;

    margin: 0%;
}

p
{
    font-family: 'Frutiger', sans-serif;

    font-size: 11px;

}



/*-----{Classes}-----*/

.Background
{
    background-image: url(../Images/Background/Frutiger_Background.gif);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.Wht{color: white;}

.Main
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Slider_Buttons
{
    background: linear-gradient(to left, rgb(88, 88, 88), lightgrey);

    height: 100vh;
    width: 3vw;

    margin: 0%;

    border: none;
}

.Slider_Display
{

    height: 100%;
    width: auto;

    padding: 2.5%;
}

.Glass_Content
{
    background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.5), transparent);
    


    height: fit-content;
    width: 100%;

    padding: 15px;

    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;



    box-shadow: black 0px 0px 10px;
    backdrop-filter: blur(10px);
}

.Bubbles
{
    background: linear-gradient( to top, rgba(100, 100, 255, .7) 50%, rgba(130, 130, 255, .7) 51%, rgba(175, 175, 255, .7) 70%);

    
    
    color: white;

    width: fit-content;
    height: 100%;

    padding: 2.5%;

    border: solid 1px black;
    
    border-radius: 15px;

    /*backdrop-filter: blur(5px);*/
}

.Bubbles:hover
{
    background: linear-gradient( to top, rgba(130, 130, 255, 1) 10%, rgba(100, 100, 255, .7) 50%, rgb(130, 130, 255, .7) 51%, rgba(175, 175, 255, .7) 70%);
    text-decoration: 1px underline;

    filter: brightness(1);
    
    box-shadow: 0px 0px 10px rgb(80, 80, 255);
}

.Rotate_90_degree
{
    transform: rotate(-90deg);
}

/*-----{I_Cards Attributes}-----*/



.Content_Card_Background
{
    background: linear-gradient(to top,rgb(20, 175, 20) 25%, rgb(50, 255, 50) 50%);

    width: fit-content;
    height: fit-content;

    padding: 1vh;
    
    border-radius: 25px;
}

.Content_Card_Display
{
    background-color: white;

    width: fit-content;
    height: fit-content;

    padding: 1vh;

    border-radius: 25px;
}



/*-----{Others}-----*/

.Water
{
    background-color: #1919ff;
}

.Earth
{
    background-color: #00c81e;
}

.Fire
{
    background-color: #e60000;
}

.Air
{
    background-color: #ff8c00;
}
